# dependencies
/node_modules
/.pnp
.pnp.js
Api/venv

# testing
/coverage

# protection
/build

# misc
.DS_Store
.enc.local
.env.development.local
.env.test.local
.env.production.lcoal
__pycache__

npm-debug.log*
