# dependencies
client/node_modules
client/.pnp
client/.pnp.js
Api/venv

# testing
client/coverage

# protection
client/build

# misc
.DS_Store
.enc.local
.env.development.local
.env.test.local
.env.production.lcoal
__pycache__

npm-debug.log*
