a.navbar-brand {
  white-space: normal;
  text-align: left;
  word-break: normal;
}

html {
  font-size: 14px;
}
@media (min-width: 786px) {
  html {
    font-size: 16px;
  }
  
}

.logo_img {
  
  position: absolute;
}

img:first-of-type{
  border-radius: 30px;
}

.box-shadow {
  box-shadow: 0 .30rem .75rem rgba(0, 0, 0, 0.822);
}

